server {
    listen 80;

    location /images {
        alias /var/www/qiaothink/images;
    }

    location /static {
        alias /var/www/qiaothink/static;
    }

    location / {
        proxy_pass http://localhost:3000;
    }
}
